In [2]:
import pandas as pd
import os

In [6]:
base_dir = os.path.dirname(os.path.abspath(''))
filepath = os.path.join(base_dir, 'output', 'top5-frequency-emerging_topic_score-strength_20191123-19-24-16.csv')
df = pd.read_csv(filepath)

In [8]:
df.head()

,top5_criteria,period_category,period,bigram,frequency,emerging_topic_score,strength
0,frequency,quarterly,1998_Q1,risk-capital,47,7.520000,24.386547
1,frequency,quarterly,1998_Q1,regulatory-capital,44,88.000000,14.666693
2,frequency,quarterly,1998_Q1,capital-standard,40,80.000000,10.003772
3,frequency,quarterly,1998_Q1,capital-requirement,36,16.000000,7.209642
4,frequency,quarterly,1998_Q1,price-index,36,5.142857,15.015651

In [38]:
def _equal_search(df, key, val):
    result_df = df[df[key] == val]
    return result_df.sort_values(by='period')

_equal_search(df, 'period', '2019_Q2')

,top5_criteria,period_category,period,bigram,frequency,emerging_topic_score,strength
425,frequency,quarterly,2019_Q2,business-debt,59,47.200000,29.502893
426,frequency,quarterly,2019_Q2,leveraged-loan,23,92.000000,7.666667
427,frequency,quarterly,2019_Q2,household-business,18,4.800000,4.540936
428,frequency,quarterly,2019_Q2,business-borrowing,18,14.400000,3.603095
429,frequency,quarterly,2019_Q2,debt-risk,18,12.000000,3.023601
1180,emerging_topic_score,quarterly,2019_Q2,leveraged-loan,23,92.000000,7.666667
1181,emerging_topic_score,quarterly,2019_Q2,debt-growth,18,72.000000,2.250000
1182,emerging_topic_score,quarterly,2019_Q2,inflation-elb,14,56.000000,1.346667
1183,emerging_topic_score,quarterly,2019_Q2,middle-class,12,48.000000,0.705907
1184,emerging_topic_score,quarterly,2019_Q2,increase-business,12,48.000000,0.670833
1935,strength,quarterly,2019_Q2,inflation-unemployment,8,0.246154,45.424481
1936,strength,quarterly,2019_Q2,business-debt,59,47.200000,29.502893
1937,strength,quarterly,2019_Q2,inflation-expectation,4,0.181818,21.680098
1938,strength,quarterly,2019_Q2,inflation-phillips,1,0.076923,8.741338
1939,strength,quarterly,2019_Q2,unemployment-natural,2,0.119403,8.684537

In [39]:
def _contain_search(df, key, val):
    result_df = df[df[key].str.contains(val)]
    return result_df.sort_values(by='period')

df_quarterly = _equal_search(df, 'period_category', 'quarterly')
_contain_search(df_quarterly, 'bigram', 'business-debt')

,top5_criteria,period_category,period,bigram,frequency,emerging_topic_score,strength
1936,strength,quarterly,2019_Q2,business-debt,59,47.2,29.502893
425,frequency,quarterly,2019_Q2,business-debt,59,47.2,29.502893

In [36]:
_equal_search(df_quarterly, 'period', '2019_Q2')

,top5_criteria,period_category,period,bigram,frequency,emerging_topic_score,strength
1936,strength,quarterly,2019_Q2,business-debt,59,47.200000,29.502893
1935,strength,quarterly,2019_Q2,inflation-unemployment,8,0.246154,45.424481
1937,strength,quarterly,2019_Q2,inflation-expectation,4,0.181818,21.680098
428,frequency,quarterly,2019_Q2,business-borrowing,18,14.400000,3.603095
1184,emerging_topic_score,quarterly,2019_Q2,increase-business,12,48.000000,0.670833
1183,emerging_topic_score,quarterly,2019_Q2,middle-class,12,48.000000,0.705907
1182,emerging_topic_score,quarterly,2019_Q2,inflation-elb,14,56.000000,1.346667
1181,emerging_topic_score,quarterly,2019_Q2,debt-growth,18,72.000000,2.250000
1180,emerging_topic_score,quarterly,2019_Q2,leveraged-loan,23,92.000000,7.666667
1938,strength,quarterly,2019_Q2,inflation-phillips,1,0.076923,8.741338
425,frequency,quarterly,2019_Q2,business-debt,59,47.200000,29.502893
426,frequency,quarterly,2019_Q2,leveraged-loan,23,92.000000,7.666667
427,frequency,quarterly,2019_Q2,household-business,18,4.800000,4.540936
429,frequency,quarterly,2019_Q2,debt-risk,18,12.000000,3.023601
1939,strength,quarterly,2019_Q2,unemployment-natural,2,0.119403,8.684537

In [27]:
df_semiannually = _equal_search(df, 'period_category', 'semiannually')
_equal_search(df_semiannually, 'period', '2008_2H')

,top5_criteria,period_category,period,bigram,frequency,emerging_topic_score,strength
1294,emerging_topic_score,semiannually,2008_2H,liquidity-institution,37,74.000000,3.747556
2048,strength,semiannually,2008_2H,commodity-price,60,15.000000,26.942567
2047,strength,semiannually,2008_2H,subprime-mortgage,24,0.539326,48.527826
2046,strength,semiannually,2008_2H,inflation-expectation,23,0.196581,117.817108
2045,strength,semiannually,2008_2H,price-inflation,64,0.941176,130.550000
2049,strength,semiannually,2008_2H,mortgage-loan,27,0.600000,26.895907
1293,emerging_topic_score,semiannually,2008_2H,primary-dealer,46,92.000000,5.300962
1292,emerging_topic_score,semiannually,2008_2H,covered-bond,47,94.000000,3.916667
1291,emerging_topic_score,semiannually,2008_2H,institution-capital,51,102.000000,6.505263
1290,emerging_topic_score,semiannually,2008_2H,bear-stearns,53,106.000000,9.590152
535,frequency,semiannually,2008_2H,price-inflation,64,0.941176,130.550000
536,frequency,semiannually,2008_2H,commercial-paper,62,6.200000,20.824555
537,frequency,semiannually,2008_2H,oil-price,61,6.100000,19.659192
538,frequency,semiannually,2008_2H,commodity-price,60,15.000000,26.942567
539,frequency,semiannually,2008_2H,bear-stearns,53,106.000000,9.590152

In [28]:
_equal_search(df_semiannually, 'period', '2019_1H')

,top5_criteria,period_category,period,bigram,frequency,emerging_topic_score,strength
2152,strength,semiannually,2019_1H,inflation-expectation,7,3.500000,25.216806
2151,strength,semiannually,2019_1H,business-debt,59,118.000000,29.501580
2150,strength,semiannually,2019_1H,inflation-unemployment,9,18.000000,58.083835
2153,strength,semiannually,2019_1H,balance-sheet,53,15.142857,17.721907
1396,emerging_topic_score,semiannually,2019_1H,rural-community,36,72.000000,5.338038
1397,emerging_topic_score,semiannually,2019_1H,community-development,35,70.000000,5.995000
1398,emerging_topic_score,semiannually,2019_1H,inflation-elb,27,54.000000,2.700000
1399,emerging_topic_score,semiannually,2019_1H,new-york,27,54.000000,3.642545
644,frequency,semiannually,2019_1H,productivity-growth,39,19.500000,6.610160
643,frequency,semiannually,2019_1H,participation-labor,45,45.000000,9.045933
642,frequency,semiannually,2019_1H,labor-force,48,48.000000,12.102443
641,frequency,semiannually,2019_1H,balance-sheet,53,15.142857,17.721907
640,frequency,semiannually,2019_1H,business-debt,59,118.000000,29.501580
1395,emerging_topic_score,semiannually,2019_1H,business-debt,59,118.000000,29.501580
2154,strength,semiannually,2019_1H,unemployment-natural,2,4.000000,14.850304